body {
  background-color: #E6F2FF; /* azul claro elegante */
  margin: 0;
  padding: 0 20px; /* dá espaço nas laterais */
}

p {
    color: #333333; /* cor do texto */
}




/* centralizar o titulo uniformes martins */
h1 {
  text-align: center;
  margin-top: 40px
}



/* justifica a imagem no fundo do meu titulo */
     .titulo-bg {
    background-image: url("/imagenspagina1/imagem3.jpg");
    background-size: cover;
    background-position: center;
    padding: 60px 0; /* aumenta a área */
    text-align: center;
}

.titulo-bg h1 {
    color: white;
    font-size: 40px;
    margin: 0;
}







/* Estiliza a seção com a foto e o texto */
.secao {
  display: flex;
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  gap: 40px; /* distância entre a foto e o texto */
  padding: 40px 0; /* espaçamento superior e inferior */
}

/* Controla o tamanho da foto */
.secao img {
  width: 100%;
  max-width: 400px; /* controla o tamanho máximo */
  height: auto; /* mantém proporção */
  border-radius: 10px;
}




/* cada lado tem 50 de largura*/
.lado-direito {
  flex: 1;
}

.lado-esquerdo {
  flex: 1;
}


/* Deixa a imagem mais responsiva dentro da seção */
img {
  max-width: 100%;
  border-radius: 8px;
  display: block;
}


/* centraliza todo o conteudo da pagina, limite de largura */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}






/* Configura o botão pra ficar organizado para a segunda página */
.botao-pagina {
    bottom: 20px;
    right: 20px;

    float: right;
    padding: 12px 20px;
    background: #007bff;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}
